.wrapper {
  background-image: url('/images/valuearrow.png');
  background-repeat: no-repeat;
  background-position: center;
  padding: 7rem 14rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 3.187rem;
  gap: 6.25rem;
  color: #fff;
}

.bubble {
  height: 15.625rem;
  width: 40%;
  min-width: 200px;
  background: ivory;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 50px;
  font-size: 200px;
  text-align: center;
}

.pointer {
  height: 40px;
  width: 40px;
  background: ivory;
  margin: 0 auto;
  transform: rotate(45deg);
  border-radius: 0 0 12px 0;
  margin-bottom: -4.6rem;
}
